html {
    box-sizing: border-box;
}

body {
    background: linear-gradient(145deg, rgba(253, 106, 228, 0.25), rgba(22, 22, 11, 1), rgba(105, 27, 169, 0.45));
    background-color: #222211;
    color: white;
    font-family: Verdana;
}

.content {
    background-color: #060606;
    margin: 15px auto;
    padding: 5% 5%;
    border-radius: 5px;
}

.content:hover {
    background-color: #111111;
}

#name {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    font-size: 50px;
}

p {
    padding: 0 8%;
}

a {
    color: white;
    overflow-wrap: break-word;
}

a:hover {
    background-color: #333;
}

#myself {
    font-family: 'serif';
}

table {
    margin: 0 auto;
    border: solid #444 2px;
    width: 50%;
    font-family: sans-serif;
}

.even {
    background-color: #222;
}

.odd {
    background-color: #333;
}

#change {
    margin-bottom: 100px;
}

#holder {
    text-align: center;
}

#mytext {
    background-color: #ddd;
    border-radius: 4px;
}

#submit-button {
    background-color: #333;
    color: white;
    border: solid black 2px;
    padding: 5px 10px;
    border-radius: 4px;
}

#submit-button:hover {
    background-color: #444;
}

#submit-button:active {
    background-color: #555;
}
